/* style.css */

body {
  font-family: Arial, sans-serif;
  background-color: #FFC0CB;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.option {
  background-color: #3498db;
  color: white;
  padding: 10px;
    height: 20px;
    width: 100px;
    border-radius: 5px;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #2980b9;
}

#message {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

#btn {
    position: absolute;
    transition: .5s;
    background-color: #3498db;
    color: white;
    padding: 10px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
  
